{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Custom styles for your book detail page */
        .container.book-container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        video,
        audio {
            width: 100%;
        }

        /* Add more custom styles as needed */
    </style>
</head>
<body>
    
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            
            <div style="color: rgb(0, 0, 0); ">
            <h2>Kitob nomi: {{ book.title }}</h2>
            <button style="border-radius: 20px; color: chartreuse;"><h3><a href="{% url 'pdf_view' book.id %}" >Kitobni o'qish</a></h3></button><br><br>
            </div>
            
            <img src="{{ book.picture.url }}" class="img-fluid mb-3 rounded" alt="{{ book.title }}"  >
            <div class="container mt-4">
                {% for text_element in text_elements %}
                    <div class="container book-container">
                        <p class="lead">{{ text_element }}</p>
                    </div>
                {% endfor %}
            </div>
            <video controls class="mb-3">
                <source src="{{ book.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <audio controls class="mb-3">
                <source src="{{ book.audio.url }}" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
